<div class="container">
    <h2>Detalhes do dragão</h2>
    <table class="fl-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Data de criação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ dragon.id }}
          </td>
          <td>
            {{ dragon.name }}
          </td>
          <td>
            {{ dragon.type }}
          </td>
          <td>
            {{ dragon.createdAt | date: "dd/MM/yyyy HH:mm:ss" }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="align">
        <button class="btn" [routerLink]="['/dragons']">Retornar para listagem</button>
    </div>
  </div>
  

