<!-- Animation dragon -->
<div class="page-container">
  <div id="skyDragon"></div>
</div>

<!-- Background and form -->
<div class="background">
  <img class="wave" src="../../../../../assets/images/cloud-ef.gif" />
  <div class="container">
    <div class="img"></div>
    <div class="login-content">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <img src="../../../../../assets/images/logo-dragon.png" />
        <h2 class="title">Bem Vindo</h2>
        <input
          formControlName="userName"
          class="input-login"
          type="text"
          placeholder="usuário"
          [ngClass]="{ 'error': submitted && loginForm.controls.userName.errors }"
        />
        <div class="error">
          <span *ngIf="submitted && loginForm.controls.userName.errors">
              Campo obrigatório
          </span>
      </div>

        <input
          formControlName="password"
          class="input-login"
          type="text"
          placeholder="senha"
          [ngClass]="{ 'error': submitted && loginForm.controls.password.errors }"
        />
        <div class="error">
          <span *ngIf="submitted && loginForm.controls.password.errors">
              Campo obrigatório
          </span>
      </div>
        <button type="submit" class="btn" value="Login">Entrar
        </button>
      </form>
    </div>
  </div>
</div>
